HUGGING_FACE_TOKEN=your_hugging_face_token
B2_KEY_ID=your_backblaze_key_id
B2_APP_KEY=your_backblaze_app_key
B2_BUCKET=your_bucket_name
B2_ENDPOINT=https://s3.us-west-004.backblazeb2.com
B2_REGION=us-west-004
B2_PUBLIC_URL=https://your-public-url
