.preview-fade-img {
    opacity: 0;
    filter: blur(10px);
    transition: opacity 0.5s cubic-bezier(0.25, 1, 0.5, 1), filter 0.5s cubic-bezier(0.25, 1, 0.5, 1);
    will-change: opacity, filter;
}

.preview-fade-img.loaded {
    opacity: 1;
    filter: blur(0);
}
